* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #303030;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #b9b3ae;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.avatar {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img,
.chat-avatar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chat-header-right img {
    width: 20px;
    height: 20px;
    margin: 5px 13px;
    opacity: 0.4;
}

body {
    display: flex;
    overflow: hidden;
}

.sidebar {
    flex: 5.17;
}

.header {
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar-search {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    padding: 8px 15px;
}

.sidebar-search-container {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}

.sidebar-search-container img {
    width: 15px;
    height: 15px;
    margin: 0 15px;
    opacity: 0.4;
}

.sidebar-search-container input {
    border: none;
    outline: none;
    margin-left: 20px;
}

.chat-avatar {
    position: relative;
    height: 50px;
    min-width: 50px;
    border-radius: 50%;
    overflow: hidden;
    flex: 1;
}

.sidebar-chats {
    height: calc(100vh - 115px);
    overflow-y: scroll;
}

.sidebar-chat {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 12px;
    width: 100%;
}

.sidebar-chat:hover {
    background-color: #f5f5f5;
}

.sidebar-chat:nth-child(2) {
    background-color: #ebebeb;
}

.sidebar-chat::before {
    content: '';
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 80px;
    border-bottom: 1px solid #999;
    opacity: 0.2;
}

.chat-info {
    margin-left: 15px;
    flex: 10;
}

.chat-info p {
    font-size: 13px;
    line-height: 20px;
    color: gray;
}

.time {
    flex: 1;
}

.time p {
    white-space: nowrap;
    font-size: 13px;
    margin-top: -16px;
    color: gray;
}


/* Message Content */

.message-container {
    flex: 12;
}

.chat-title {
    display: flex;
    align-items: center;
}

.message-header-content {
    margin-left: 15px;
}

h4 {
    font-weight: 400;
}

.message-header-content p {
    font-size: 13px;
    color: gray;
}

.message-content {
    background-position: center;
    height: calc(100vh - 120px);
    padding: 20px 80px;
    overflow-y: scroll;
}

.chat-message {
    font-size: 14px;
    padding: 8px 10px;
    width: fit-content;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 30px;
}

.chat-sent {
    margin-left: auto;
    background-color: #dcf8c6;
}

.chat-timestamp {
    margin-left: 10px;
    font-size: 10px;
    color: grey;
}


/* message footer */

.message-footer {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #f0f0f0;
}

.message-footer img {
    flex: 1;
    width: 22px;
    height: 22px;
    /* opacity: 0.4;     */
}

.message-footer textarea {
    flex: 20;
    margin: 5px 10px;
    padding: 12px 15px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    height: 40px;
    scroll-behavior: none;
    resize: none;
    overflow: hidden;
}

.no-chat-selected {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    color: #777;
    background-color: #f9f9f9;
}

.no-chat-selected img {
    max-width: 150px;
    margin-top: 20px;
    opacity: 0.7;
}

.chat-view {
    display: none;
}

.typing-indicator {
    display: none;
    font-size: 14px;
    color: #25d366;
    padding-left: 10px;
    font-weight: bold;
    position: relative;
    align-items: center;
    display: flex;
}

.typing-indicator span {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    border-radius: 50%;
    background-color: #25d366;
    animation: pulse 1.5s infinite ease-in-out;
}

.typing-indicator span:nth-child(1) {
    animation-delay: 0s;
}

.typing-indicator span:nth-child(2) {
    animation-delay: 0.3s;
}

.typing-indicator span:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes pulse {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }

    50% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.7);
    }
}

.typing-indicator.show {
    display: flex;
    transition: opacity 0.5s ease-in-out;
}

.typing-indicator.hide {
    display: none;
}

.status-indicator {
    position: absolute;
    left: 10px;
    top: 8px;
    margin: -2px 0 0 -2px;
    width: 58px;
    height: 57px;
    border-radius: 50%;
    background-color: white;
}

.status-indicator.online {
    border: 2px solid #2ecc71;

}

.status-indicator.offline {
    border: 2px solid #e74c3c;
}

.chat-avatar {
    position: relative;
}

.send_svg {
    height: 27px !important;
    width: 30px !important;
    margin-bottom: 2px;
}

.fg-emoji-container {
    left: 480px !important;
    top: 234px !important;
}

.file-button input[type="file"] {
    display: none;
}

.dropdown-menu {
    position: absolute;
    top: 50px;
    right: 70.4%;

    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 150px;
    z-index: 2;
}

.menu-item {
    padding: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #f0f0f0;
}

button {
    border: none !important;
}

.message-status.send {
    color: #999;
}

.message-status.deliverd {
    color: #999;
}

.message-status.read {
    color: #34b7f1;
}

.unread-badge {
    position: absolute;
    top: 45px;
    right: 19px;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 10px;
    font-weight: bold;
    display: none;
}